#include <physical_layouts.dtsi>

/ {
    layouts_bento_position_map: layouts_bento_position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;
    };
};


/ {
    macro3x2_layount: macro3x2_layount {
        compatible = "zmk,physical-layout";
        display-name = "6 Key";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
        ;
    };
};

&layouts_bento_position_map {
    bento_posmap: six {
        physical-layout = <&macro3x2_layount>;
        positions
            = < 0  1  2 >
            , < 3  4  5>;
    };
};